body {
    /* background-image: url("https://img.freepik.com/free-vector/ecommerce-web-store-hand-drawn-illustration_107791-10966.jpg"); */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .form-group button:hover {
    background-color: #45a049;
  }

  .registration-link {
    margin-top: 3%;
  }

  #account-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #sign-out-button, #admin-button {
    margin-top: 1%;
    background-color: transparent !important;
    border: 1pt solid white;
  }

  #account-card {
    width: 45%;
  }

